export(MatrixList)
export(SSM)
export(ssm_polynomial)
export(ssm_reg)
export(ssm_samples)
exportClasses(MatrixList)
exportClasses(SSM)
exportClasses(SsmSamples)
exportMethods("%bd%")
exportMethods("+")
exportMethods(Ops)
exportMethods(cbind2)
exportMethods(dim)
exportMethods(rbind2)
import(Matrix)
